<div class="lift__template__sidebar__create__slot-control">
  {{control-slot-mode}}
</div>

<div class="lift__template__sidebar__create__impersonation">
  {{#if model.segments.isFulfilled}}
    {{segment-control
      allSegments=model.segments
      clearSegmentPreviews=(route-action 'clearSegmentPreviews')
      updateSlotPreviews=(route-action 'updateSlotPreviews')
    }}
  {{/if}}
</div>

<section id="secondary-section">
  <div id="secondary-nav" class="sidebar-nav">
    {{#link-to "lift-sidebar.create.content-search"}}Content{{/link-to}}
    {{#link-to "lift-sidebar.create.slot-select.inner"}}Slots{{/link-to}}
  </div>

  <div class="section-content">
    {{outlet}}
  </div>
</section>
