<div class="toggle-nav">
  {{#link-to "lift-sidebar.create.content-search.inner" classNames="toggle-nav__link"}}Explore Content{{/link-to}}
  {{#link-to "lift-sidebar.create.content-search.filters.inner" classNames="toggle-nav__link"}}Saved Filters{{/link-to}}
</div>

{{outlet}}
