{{#wrapper-card
  cardLayout=cardLayout
  cardType=cardType
  draggable=draggable
  dragEnd=(action dragEnded)
  dragStart=(action itemDragged filter)
  menu=menu
  menuItemSelected=(action "menuAction")
  overrideMenu=overrideMenu
  sortable=sortable
}}
  <div class="filter-name">
    {{filter.name}}
  </div>
{{/wrapper-card}}
