<p class="lift__cmp__control-slot-mode__label label">Highlight Slots</p>
<div class="lift__cmp__control-slot-mode__control">
  {{lift-switch
    isEnabled=isSlotEditMode
    onChange=(action "setSlotMode")
    style="slider"
    onLabel="On"
    offLabel="Off"}}
</div>