<div style={{style 'background-color' slotContainer.slotBackgroundColor}}>
    {{style-barrier
      html=slotContainer.slotHtml
      loaded=(action 'loaded')
      options=slotContainer.styleBarrierOptions}}
</div>
