{{card-geometry dataAttrs=geometryAttributes}}

<div class="lift__cmp__sidebar">
  <div class="lift__cmp__sidebar__menu">
    <div class="lift__cmp__sidebar__menu__item--start">
      <div class="lift__cmp__sidebar__menu__logo"></div>
    </div>
    <div class="lift__cmp__sidebar__menu__item">
      {{#link-to 'lift-sidebar.create'}}Create{{/link-to}}
    </div>
    <div class="lift__cmp__sidebar__menu__item">
      {{#link-to 'lift-sidebar.rules.inner'}}
        Rules
        {{#if showRuleBadge}}
         <span class="lift__cmp__sidebar__menu__item__rule-count">{{currentRules.length}}</span>
        {{/if}}
      {{/link-to}}
    </div>
    <div class="lift__cmp__sidebar__menu__item--end">
      {{control-menu menu=menu isSystem=true menuItemSelected=(action "menuItemSelected") overrideMenu=overrideMenu}}
    </div>
  </div>
  <div class="lift__cmp__sidebar__content">
    {{yield}}
  </div>
</div>
