<div class="lift__cmp">

  <div class="lift__cmp__loading-indicator">

    <div class="lift__cmp__loading-indicator__icon">
      {{lift-icon name="saving"}}
    </div>

    <div class="lift__cmp__loading-indicator__text">
      {{if message message "Loading"}}
    </div>

  </div>

</div>
