<div class="lift__cmp">
  <div class="lift__cmp__notification--progress">
    <div class="lift__cmp__notification--progress__title">
      {{notification.title}}
    </div>
    <div class="lift__cmp__notification--progress__progress_bar">
      <div class="lift__cmp__notification--progress__progress_bar__progress" style={{style 'width' percentComplete}}></div>
    </div>
  </div>
</div>
