<div class="row">
  <div class="column two-thirds segment-current">
    <p class="label">Set Active Segment</p>
    {{#lift-select
      options=autocompleteSegments
      selected=currentSegment
      placeholder="Default - Everyone"
      allowClear=true
      onchange=(action "selectSegment") as |segment|
    }}
      {{segment}}
    {{/lift-select}}
  </div>
</div>
{{#liquid-if showSegments use='fade'}}
<div class="row segment-recent">
  <div class="segments">
    <p class="label">Recent Segments</p>
    <ul class="pills">
      {{#each recentSegments as |recentSegment|}}
      <li {{action 'selectSegment' recentSegment.name}}>{{recentSegment.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{/liquid-if}}
