{{#liquid-sync as |readyToAnimate|}}
  {{#card-geometry done=readyToAnimate dataAttrs=geometryAttributes height=explicitHeight readyToMeasure=staticLoaded
                   as |card|}}
    <div class="slot-preview empty">
      <div class="slot-empty {{if showTools 'active'}}"></div>
      {{#liquid-if showDropTarget class=dropTargetClass use="crossFade"}}
        {{slot-drop-target upstreamModel=model contentDropped=(action handleDroppedData)}}
      {{/liquid-if}}
    </div>
    {{ruleMonitor}}

  {{/card-geometry}}
{{/liquid-sync}}
