<div class="form-group">
  {{input type=type value=value placeholder=placeholder class="form-control" name=valuePath}}

  <div class="input-error">
      {{#if showMessage}}
          <div class="error">
              {{v-get model valuePath 'message'}}
          </div>
      {{/if}}
  </div>
</div>
