{{pluralize model.length "Saved Filter"}}

{{#if model}}
  <div class="search-results filter-results__container">
  {{#control-scrolling}}
    {{#each model as |filter|}}
      {{card-filter
        filter=filter
        dragEnded=(route-action "dragEnded")
        itemDragged=(route-action "itemDragged")
        searchFilter=(route-action "searchFilter")
        deleteFilter=(route-action "deleteFilter")
      }}
    {{/each}}
  {{/control-scrolling}}
  </div>
{{else}}
  <div class="no-results slot-results">There are no saved filters for this account.</div>
{{/if}}
